flaskEnv/
env/
@localhost.session.sql
Design_patterns_terms.txt
micronotes.txt
@localhostflask.session.sql
frontend/node_modules/
.vscode/
admin/.dbdata/
admin/admin/__pycache__/
admin/products/__pycache__/
frontend/react-crud/node_modules/
main/.dbdata/
main/__pycache__/